body {

    background-color: rgb(0, 0, 0);
    
}

h1, h3 {
    color: lightpink;
    font-family: FrederickatheGreat-Regular;
    
}

h4 {
    font-size: 40px;
    font-family: FrederickatheGreat-Regular;
    margin-top: 25px;
    

}

h4 > p{
    font-size: 25px;
    font-family: FrederickatheGreat-Regular;
    margin-top: 25px;
    text-align: left;
    margin-right: 100px;
}
@font-face {
    font-family: FrederickatheGreat-Regular;
    src: url(../fonts/FrederickatheGreat-Regular.ttf);
}

.nav {
    position: relative;
    padding: 50px;
    overflow: hidden;
    background-color: rgb(5, 58, 58);
    border-bottom: 5px solid rgb(218, 16, 16);
    border-top: 5px solid rgb(218, 16, 16);


  }
  
.nav a {
    float: left;
    color: lightpink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
    font-family: FrederickatheGreat-Regular;
}
  
.nav a:hover {
    color: rgb(255, 255, 255);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
  
.nav a.active {
    background-color: #a50a83;
    color: white;
}
  
.nav-centered a {
    float: none;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.nav-right {
    float: right;
}

.box {
    border: 5px solid rgb(80, 70, 70);
    background-color: gray;
    margin-left: 75px;
    margin-right: 50%;
}
/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
    .nav a, .nav-right {
        float: none;
        display: block;
    }
    
    .nav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

/* Hero section */

.hero-section {
    background-image: url(../images/fire.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 100% 55%;
  	border-bottom-left-radius: 100% 55%;

    border-bottom: 5px solid rgb(218, 16, 16);
}


/* Text effects */
.glow {
    color: rgb(235, 104, 29);
    text-align: left;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px rgba(243, 211, 31, 0.685), 0 0 30px #ffe600b9, 0 0 40px #fad017, 0 0 50px #ffee00, 0 0 60px #ff9100, 0 0 70px #f50c0c;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000;
    }
  }